.navbarr{
    position: sticky;
    top: 0;
    background: white;
    height: 50px;
}
a{
    text-decoration: none;
    color: #695aa6;
}
.project-card {
    width: 90%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
}

.project-card-heading{
    color: #695aa6;
}
h2{
    text-align: center;
}
img{
    height: 210px;
    width: 310px;
}
.project-card-details{
    display: flex;
}
.project-card-details div{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}


